<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Parsing Project</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <h1 class="display-1">Resume Parsing Project</h1>


    <div class="container">
        <div class="left-section">
            <h1>Drop Resume Here</h1>

            <form id="resumeForm" method = "post" enctype="multipart/form-data" action="/parse">
                <label for="resumeFile">Upload Resume pdf:</label>
                <input type="file" id="resumeFile" name="resumeFile" accept=".pdf, .doc, .docx">
                <h2>Enter Job Description</h2>
                <textarea id="jobDescription" name="jobDescription" rows="8" placeholder="Enter job description here"></textarea>
                <button type="submit">Show similarity</button>
            </form>
        </div>
    </div>
    
    <div class="d-flex justify-content-center">
        <div class="result-section">
            {% if experience or skills or job_description  %}
                <h1 style="color: #333;"><strong>Resume Parsing Results</strong></h1>
                <p style="color: #555;"><strong>Experience:</strong> {{ experience }}</p>
                <p style="color: #555;"><strong>Skills:</strong> {{ skills }}</p>
                <p style="color: #555;"><strong>Job Description:</strong> {{ job_description }}</p>
            {% endif %}
        </div>
        <div>
            {%if sim_score %}
                <p>Similarity Score:{{sim_score}}</p>
            {%endif%}
        </div>
    </div>
    
</body>
</html>
